<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>EmployeeDirectory</title>

        <!-- stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- js -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.0/react.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.0/react-dom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
        <!-- <script src="/js/main.js" type="text/babel"></script> -->
        <script src="/js/js.js" type="text/babel"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.min.js"></script>

    </head>
    <body>
    <div class="header-div">Employee Directory</div>
    <div class="container-index">
        <div class="employee_search">
            <div id="search_input">
                
                <div id="xgoeshere"></div>
            </div>
            <div id="result_list">

            </div>
        </div>

    </div>
    
    <% if(typeof authenticated != "undefined") { %>
        <script src="/js/authenticated.js" type="text/babel"></script>
    <% } %> 
    </body>
</html>
